<li>
    <a href="{% if item.link_callback %}{{ item.link_callback }}{% else %}{{ item.link }}{% endif %}" class="flex h-9.5 items-center -mx-1 px-3 rounded hover:text-primary-600 dark:hover:text-primary-500 {% if item.active %}bg-base-100 font-semibold text-primary-600 dark:bg-white/[.06] dark:text-primary-500{% endif %}">
        {% if item.icon %}
            <span class="material-symbols-outlined md-18 mr-3 w-4.5">
                {{ item.icon }}
            </span>
        {% endif %}

        <span class="text-sm">
            {{ item.title|safe }}
        </span>

        {% if item.badge %}
            <span class="bg-red-600 font-semibold ml-2 px-1 relative rounded-sm text-xs text-white">
                {% if item.badge_callback %}
                    {{ item.badge_callback }}
                {% else %}
                    {{ item.badge }}
                {% endif %}
            </span>
        {% endif %}
    </a>
</li>